@import "site.css";

#message-wrapper{
    height: calc(100vh - 54px);
}

#messages {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
    height: calc(100% - 50px);
    overflow-y: scroll;
}

#messages .callout{
    margin: 0;
}

#message-form .input-group{
    margin-bottom: 0;
}

#message-form textarea{
    resize: none;
}