<!DOCTYPE html>
<html>
<head>
	<title>MFSR | 404</title>
	<meta name="keywords" content=""/>
	<meta name="description" content="Login page for MSFR"/>
	<meta name="author" content="Scott Thomson"/>

	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<div class="row">
		<div class="medium-6 medium-centered large-5 large-centered columns">

			<div class="banner"><h2><a href="/">MFSR</a></h2></div>

			<div class="row column content-box">
				<h4 class="text-center content-box-header">404</h4>
				<div class="content-box-content">
					There's nothing here...
				</div>
			</div>
		</div>
	</div>
</body>
</html>