<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata about the webpage-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content=""/>
    <meta name="description" content="Messenger page for MSFR"/>
    <meta name="author" content="Scott Thomson"/>

    <!--Tab Name-->
    <title>MFSR | Messenger</title>

    <link rel="stylesheet" href="css/foundation.min.css">

    <!-- Sitewide CSS -->
    <link rel="stylesheet" href="css/chat.css">

</head>
<body>

    <% include ../partials/nav%>

    <div class="row">
        <div id="message-wrapper" class="medium-10 columns">

            <div class="row content-box" id="messages"></div>

            <form class="row content-box" action="">
                <div class="input-group">
                    <!--<input id="msg" class="input-group-field" type="text" autocomplete="off"/>-->
                    <textarea id="msg" class="input-group-field" style="resize: vertical"></textarea>
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Send"/>
                    </div>
                </div>
            </form>
        </div>

        <div id="users-online" class="medium-2 columns">
            <h5 class="text-center">Online</h5>
            <div id="active-users"></div>
        </div>
    </div>

    <% include ../partials/scripts%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
    <script src="js/chat.js"></script>
    <script>
        var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
    </script>
</body>
</html>